<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
  <link rel="stylesheet" href="/css/style.css">
  <title>Login com NodeJS</title>
</head>
<body>

  <div id="corpo-formu">
    <form method="post" action="/login">
      <h1><i class="fab fa-node"></i></h1><br>
      <input id="email" type="email" name="email" placeholder="Email" autocomplete="off" id="email"><br><br>
  
      <input type="password" name="senha" placeholder="Senha" id="senha"><br><br>
  
      <button class="btn" id ="btn">Entrar</button><br>

      <p>Ainda não tem uma conta?<a href="/cadastrar"> <strong>Cadastre-se</strong></a></p><br>

      

    </form>
  </div>
  <script src="/public/script.js"></script>
</body>
</html>