<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/img/node-js.png" type="image/x-icon">
  <link rel="stylesheet" href="/css/obrigado.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
  <title>Obrigado</title>
</head>
<body>
  
  <h2><i class="fab fa-node"></i></h2><br>
  <h1>OBRIGADO POR TESTAR MINHA APLICAÇÃO!</h1><br>
  <h4><i class="fas fa-envelope-open-text"></i></i> jstenio.rocha@gmail.com | <i class="fab fa-github"></i> stamorim28</h4><br>
  <a href="/">voltar</a>

</body>
</html>
